*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-image: url('bg9.jpeg');
    background-repeat: no-repeat;
  background-size: cover;
  }
  
  input, button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
  .tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
  }
  
  #errorMsg{
    text-shadow: pink;
    text-justify: right;
    color: rgb(231, 30, 194);
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 8px;
  }
  
  .logo{
    width:200px;
    height:90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cont {  
    overflow: hidden;
    width: auto;
    height: auto;
    background: #fff;
    margin: auto;
    padding: 0 0 68px 0;
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    transform: translate(0, -50%);
  }
  .form {
    position: relative;
    width: auto;
    height: auto;
    transition: transform 1.2s ease-in-out;
    padding: 50px 30px 0;
  }
  .sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    transition: transform 1.2s ease-in-out;
  }
  .cont.s--signup .sub-cont {
    transform: translate3d(-640px, 0, 0);
  }
  button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }
  label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
  }
  label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
  }
  input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  .submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
  }
  .cont.s--signup .sign-up {
    transform: translate3d(0, 0, 0);
  }
  .icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
  }
